:root {
  --bg: #f5f6fa;
  --white: #ffffff;

  --primary: #5457b6;
  --seconary: #ed6468;
  --primary-light: #c3c4ef;
  --secondary-light: #ffb8bb;

  --dark-blue: #324152;
  --grayish-blue: #67727e;
  --light-gray: #eaecf1;

  --p-font: 16px;
  --font-family: "Rubik", sans-serif;
  /* Weights: 400, 500, 700 */
}

body {
  background-color: var(--bg);
}

a {
  color: var(--primary);
  text-decoration: none;
}

.card {
  background: var(--white);
  padding: 1rem 1rem 5px;
  margin: 5px;
  border-radius: 5px;
  width: 50vw;
}

.upvoting {
  background: var(--bg);
  padding: 10px;
  border-radius: 10px;
  height: -webkit-fill-available;
  margin-right: 15px;
}

.user {
  width: 30px;
}
.comment {
  margin-top: 10px;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary);
}

@media (max-width: 375px) {
}

/* Predefined CSS */
.flex {
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.hr-center {
  align-items: center;
}
.vr-top {
  align-items: flex-start;
}
.vr-center {
  justify-content: center;
}
.full-width {
  width: -webkit-fill-available;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.mg-lr-15px {
  margin: 0 15px;
}
